[duo_service]
api_host = api-XXXXXXXX.duosecurity.com
ikey = XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX
skey = XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX
group_name = pwned

[haveibeenpwned]
#useragent = set_this_to_something_custom/10.4
